---
# Don't build an IPA deployment image, instead download upstream images.
create_ipa_image: false
download_ipa: true

# Use a locally hosted CentOS8 cloud image.
use_cirros: true
{% if aufn_os_distro == 'ubuntu' %}
cirros_deploy_image_upstream_url: "https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img"
{% else %}
cirros_deploy_image_upstream_url: "https://cloud.centos.org/centos/8/x86_64/images/CentOS-8-GenericCloud-8.3.2011-20201204.2.x86_64.qcow2"
{% endif %}
